/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.provider-directory {
    .no-provider-photo {
        margin-top: var(--wp--style--block-gap);
    }

    figure {
        margin: 0;
    }

    ul {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2rem;
    }

    .subhead {
        text-transform: uppercase;
        letter-spacing: 0;
        font-size: var(--wp--preset--font-size--normal);
        color: var(--wp--preset--color--gray);
        font-weight: 500;
        margin-bottom: .5em;
    }

    .provider-job-title {
        font-size: .75em;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
    }

//     .credentials {
//             font-size: .75em;
//             font-style: italic;
//             margin-top: 0;
//             margin-bottom: 0;
//     }

    .provider {
        list-style: none;
        border-radius: 6px;
        transition: ease-in .3s;
        padding: .75em;
        background-color: white;
        filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.075))
                drop-shadow(0 1px 2px rgb(0 0 0 / 0.4));
        text-align: center;

        a {
            display: block;
            text-decoration: none;
        }

        &:not(.no-photo):hover {
            background-color: #cce6ee;
        }


        .with-placeholder {
            display: flex;
            flex-direction: column;
            height: 100%;
            min-height: 248px;
        }

        .placeholder {
            background-color: gainsboro;
            width: 100%;
            flex: 1 1 auto;
            border-radius: 4px;
        }
    }

    .provider-photo {
        img {
            border-radius: 4px;
            max-width: 100%;
        }

        margin-bottom: .5em;
    }

    .provider-name {
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 0;
        color: var(--wp--preset--color--ch-blue);
    }

}
 